header {
	background-color: white;
	height: 70px;
	width: 100%;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #CCCCCC;
}
.logo {
	width: 136px;
	height: 70px;
	background: url("../images/logo.png") no-repeat;
	margin-left: 20px;

}
